html,
body {
    height: 100%;
    background: url("../assets/img/fondo.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.site-login  .form-group {
    display: block;
    width: 500px;
}
.site-login label{
    color: #fff;
}
.site-login{
    width: 400px;
    background: #071E45;
    margin: 0px auto;
    border-radius: 10px;
    padding-bottom: 1px;
}
.site-login h1{
    text-align: center;
    padding: 10px;
}
.site-login button{
    display: table;
    margin-left: 260px;
    margin-top: -10px;
}
.site-login button:hover{
    background: #FF0000;
}
.site-login .col-lg-1{
    width: 10px;
    margin-left: 20px;
}
.site-login .col-lg-8{
    margin-left: 100px;
    margin-top: 10px;
}
.site-login .col-lg-3{
    width: 300px;
    margin-left: 50px;
}
.site-login{
    display: #071E45;
}












h1{
    color: #fff;
}
.table td a{
    font-size: 20px;
    color: #fff;
}
.navbar-inverse{
    background: #071E45 !important;
}
.navbar-nav .active a{
    background: #465CFD !important;
}
.inicio-index{
    background: #082144;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.btn{
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 10px;
    border: solid 1px #fff;
}
.btn:hover{
    color: #fff;
}
.izquierda .contenedor-img img,
.derecha .contenedor-img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.inicio-content{
    padding: 20px;
    clear: both;
    float: none;
    margin-bottom: 5px;
}
.izquierda{
    background: #ddd;
    display: table;
    width: 100%;
}
.izquierda .contenedor-img,
.derecha .contenedor-img{
    display: block;
    width: 240px;
}
.izquierda .contenedor-img{
    float: left;
    margin-right: 20px;
}
.izquierda .contenedor-body{
    margin-top: 20px;
    text-align: left;
}
.derecha{
    background: #ddd;
    display: table;
    width: 100%;
}
.derecha .contenedor-img{
    float: right;
    margin-left: 20px;
}
.derecha .contenedor-body{
    margin-top: 20px;
    text-align: right;
}
.contenedor-body .btn{
    color: #082144;
    border: solid 1px #082144;
}
.contenedor-body .btn:hover{
    background: #FF0000;
    color: #fff;
    border: solid 1px #FF0000;
}
.contenedor-body strong{
    font-size: 15px;
    color: #fff;
    background: #FF0000;
    padding: 5px;
}
.min .contenedor-img{
    display: block;
    width: 150px;
}
.table,
td{
    background: #071E45;
}
.table td{
    background: #465CFD;
}
.vuelos-create{
    width: 400px;
    background: #071E45;
    padding: 10px;
    border-radius: 10px;
    float: left;
}
.vuelos-create h1,
.vuelos-create .control-label{
    color: #fff;
}
.vuelos-text{
    background: #071E45;
    text-align: justify;
    padding: 10px;
    color: #eee;
    display: table;
    margin-top: 100px;
    width: 300px;
    margin-left: 650px;
    border-radius: 10px;
}
.mitad,
.tress{
    background: #ddd;
    display: inline-block;
    width: 49.83%;
    margin-bottom: 5px;
}
.tress{
    width: 33.1%;
}
.tress .contenedor-img{
    width: 100%;
}
.yii-debug-toolbar__bar{
    display: none;
}
.btn.btn-link.logout{
    padding: 0px;
    padding: 5px;
}




.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container {
    padding: 70px 15px 20px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
.navbar-inverse.navbar-fixed-top.navbar{
    background: #3A70F9;
    border-bottom: 1px #fff;
}
.navbar-inverse.navbar-fixed-top.navbar a{
    color: #fff;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
